INVOKE_LLM_ENDPOINT=http://localhost:11434
INVOKE_LLM_MODEL=qwen3:0.6b
INVOKE_WHISPER_MODEL=tiny
INVOKE_COMPOSIO_API_KEY=

VITE_INVOKE_LLM_ENDPOINT=http://localhost:11434
VITE_INVOKE_LLM_MODEL=qwen3:0.6b

PRIVY_APP_ID=
PRIVY_APP_CLIENT_ID=
PRIVY_APP_SECRET=
